.websy-dropdown-container {
  display: block;
  position: relative;
  input.dropdown-input {
    display: none;
  }
  &.list {
    height: 100%;
    svg.search {
      pointer-events: all;
    }
    .websy-dropdown-action-container {
      display: none;
    }
    .websy-dropdown-header {
      padding: 0 15px;
      .arrow {
        display: none;
      }
      &.allow-clear {
        span {
          max-width: ~'calc(100% - 55px)';
          &.websy-dropdown-header-value {
            display: none;
          }
        }
      }
      .websy-dropdown-header-label {
        position: unset;
        font-size: unset;
        top: unset;
        left: unset;
      }
    }
    .websy-dropdown-content {
      display: block;
      width: 100%;
      border: none;
      box-shadow: none;
      height: ~'calc(100% - 45px)';
      max-height: unset;
      top: unset;
      position: relative;
      box-sizing: border-box;
      &.on-top {
        bottom: unset;
      }
    }
    .websy-dropdown-items {
      width: 100%;
      height: 100%;
      max-height: unset;
      overflow-y: auto;
      .websy-dropdown-item {
        padding: 0 15px 0 30px;
      }
    }
    .websy-dropdown-search {
      display: none;
    }
    &.search-open {
      .websy-dropdown-items {
        height: ~'calc(100% - 40px)';
      }
      .websy-dropdown-search {
        display: block;
      }
      .websy-dropdown-action-container {
        display: block;
        border-top: 1px solid @light-grey;
      }
    }
  }
}
.websy-dropdown-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  &.active {
    display: block;
  }
}
.websy-dropdown-header {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  span, svg.arrow, svg.search {
    pointer-events: none;
  }
  svg, span {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    stroke: @dark-grey;
    fill: @dark-grey;
    * {
      pointer-events: none;
    }
  }
  span {
    max-width: ~'calc(100% - 52px)';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  svg.arrow {
    transform: rotate(180deg);
    height: 9px;
  }
  svg.clear {
    display: none;
  }
  &.allow-clear.one-selected, &.allow-clear.multi-selected {
    span {
      max-width: ~'calc(100% - 85px)';
    }
    svg.clear {
      display: inline-block;
    }
  }
  &.one-selected {
    .websy-dropdown-header-label {
      position: absolute;
      font-size: .5em;
      top: -15px;
      left: 0;
    }
  }
  &.multi-selected {
    .websy-dropdown-header-value {
      position: absolute;
      font-size: .5em;
      bottom: 15px;
      left: 0;
    }
  }
}
.websy-dropdown-search {
  margin: 0 15px;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  letter-spacing: .1em;
  border: 1px solid @light-grey;
  width: ~'calc(100% - 35px)';
  font-size: inherit;
}
.websy-dropdown-content {
  padding: 10px 0;
  background-color: @white;
  box-shadow: 0 0 3px @light-grey;
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  max-height: 300px;
  display: none;
  z-index: 1;
  &.active {
    display: block;
  }
  &.on-top {
    top: unset;
    bottom: 100%;
  }
  .websy-dropdown-action-container {
    position: relative;
    top: -10px;
    text-align: right;
    border-bottom: 1px solid @light-grey;
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        pointer-events: none;
        position: relative;
        top: 4px;
      }
    }
    ul {
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      display: none;
      background-color: @white;
      width: 90%;
      right: 0;
      box-shadow: 0 0 3px @light-grey;
      z-index: 1;
      &.active {
        display: block;
      }
      li {
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
          background-color: @light-grey;
        }
      }
    }
  }
}
.websy-dropdown-items {
  width: 220px;
  max-height: 300px;
  overflow-y: auto;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  li {
    padding: 0 15px 0 35px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
      background-color: @background;
    }
    &.websy-delayed {
      height: auto;
      white-space: normal;
    }
    &.state-X {
      background-color: @light-grey;
    }
  }
}
.with-search {
  .websy-dropdown-items {
    max-height: 240px;
  }
}
.with-actions {
  .websy-dropdown-items {
    max-height: 240px;
  }
}
.with-actions.with-search {
  .websy-dropdown-items {
    max-height: 200px;
  }
}

.websy-dropdown-item {
  position: relative;
  &.active {
    &:before {
      content: '\2713';
      position: absolute;
      top: 0;
      right: unset;
      width: 15px;
      height: 100%;
      color: @primary;
      background-color: unset;
      left: 15px;
      font-family: system-ui;
    }
  }
}

&.disabled {
  color: @light-grey;
  svg {
    stroke: @light-grey;
    fill: @light-grey;
  }
}
