!node_modules/
node_modules/*
!node_modules/puppeteer-report/
node_modules/puppeteer-report/*
!node_modules/puppeteer-report/out/
node_modules/puppeteer-report/out/*
!node_modules/puppeteer-report/out/core/
node_modules/puppeteer-report/out/core/*
!node_modules/puppeteer-report/out/core/createReport.js
temp
docstemp
src/custom
websy-designs-flttr.min.css
websy-designs-pride.min.css