.websy-form {
  > div {
    margin: 5px 0 15px;
  }
  > button {
    margin-top: 10px;
  }
  .websy-form-input-has-error {
    .websy-input {
      border-color: @red;
      background-color: @red-light;
    }
  }
}
.form-component {
  position: relative;
}
.websy-input-container {
  position: relative;
  label + input {
    margin-right: 10px;
  }
  input + label {
    margin-right: 10px;
  }
}
.websy-validation-failure {
  background-color: @red;
  border: 2px solid @red-dark;
  color: @white;
  padding: 5px 15px;
  font-size: .8em;
  margin-bottom: 10px;
  &:empty {
    display: none;
  }
}
.websy-form-validation-error {
  font-size: .8em;
  color: @red;
  position: absolute;
  top: 100%;
  &:empty {
    display: none;
  }
}
.websy-form-required-value {
  color: @red;
  font-size: .8rem;
  vertical-align: text-top;
}
