.websy-search-input-container {
  position: relative;
  .search, .clear {
    position: absolute;
    top: 15px;
    left: 18px;
    stroke: @black;
    * {
      pointer-events: none;
    }
  }
  .clear {
    top: 14px;
    left: unset;
    right: 18px;
    cursor: pointer;
  }
}
.websy-search-input {
  height: 50px;
  line-height: 50px;
  text-indent: 50px;
  letter-spacing: .1em;
  border: 1px solid @light-grey;
  width: 100%;
  font-size: inherit;
  box-sizing: border-box;
}
