.websy-date-picker-container {
  display: block;
  .websy-dp-button-container {
    padding: 5px 10px;
    text-align: right;
  }
  .websy-dropdown-header-label {
    position: absolute;
    font-size: .5em;
    top: -5px;
    left: 0;
  }
}
.websy-date-picker-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  &.active {
    display: block;
  }
}
.websy-date-picker-header {
  height: 40px;
  line-height: 45px;
  cursor: pointer;
  * {
    pointer-events: none;
  }
  svg {
    transform: rotate(180deg);
    height: 9px;
  }
}
.websy-date-picker-content {
  padding: 10px 0;
  background-color: @white;
  box-shadow: 0 0 3px @light-grey;
  position: absolute;
  top: 100%;
  left: 0;
  width: 450px;
  display: none;
  &.active {
    display: block;
  }
}
.websy-date-picker-ranges, .websy-date-picker-custom {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 12px;
}

.websy-date-picker-ranges {
  width: 170px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  li {
    padding: 5px 15px;
    &:hover {
      background-color: @accent;
    }
  }
}
.websy-date-picker-range {
  position: relative;
  &.active {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background-color: @accent;
    }
  }
}
.websy-dp-days-header, .websy-dp-date-list, .websy-date-picker-custom {
  width: 280px;
}
.websy-date-picker-custom {
  border-left: 1px solid @med-grey;
  .websy-dp-days-header {
    color: @med-grey;
  }
  .websy-dp-date-list {
    height: 240px;
    overflow-y: auto;
    position: relative;
  }
  .websy-dp-month-container {
    padding-top: 5px;
    span {
      padding-left: 13px;
      color: @med-grey;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      &.selected {
        background-color: @accent;
      }
      &.first {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
      &.last {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
      }
      &.websy-disabled-date {
        color: @light-grey;
      }
    }
  }
}

