.websy-vis-table-3 {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  table {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    width: 100%;
    tbody {
      font-size: inherit;
    }
  }
  &.has-error {
    .websy-table-inner-container {
      display: none;
    }
  }
  &.scrolling {
    * {
      user-select: none;
    }
    .websy-v-scroll-container, .websy-h-scroll-container {
      visibility: visible;
    }
  }
  &:hover {
    .websy-v-scroll-container, .websy-h-scroll-container {
      visibility: visible;
    }
  }
  .websy-v-scroll-container {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10px;
    visibility: hidden;
    // background-color: #f2f2f2;
    // display: none;
  }
  .websy-h-scroll-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: ~'calc(100% - 10px)';
    height: 10px;
    visibility: hidden;
    // background-color: #f2f2f2;
    // display: none;
  }
  .websy-scroll-handle {
    background-color: #cccccc;
    position: absolute;
    border-radius: 5px;
  }
  .websy-scroll-handle-y {
    width: 100%;
  }
  .websy-scroll-handle-x {
    height: 100%;
  }
  .websy-table-inner-container {
    height: 100%;
    width: 100%;
    // position: relative;
  }
  .websy-table-header {
    // background-color: #eeeeee;
    font-weight: bold;
    tr {
      &:last-of-type {
        border-bottom: 1px solid #cccccc;
      }
    }
    td {
      > div {
        display: flex;
        max-width: 100%;
        width: 100%;
        flex-grow: 0;
        * {
          pointer-events: none;
        }
        .websy-table-search-icon {
          display: flex;
          cursor: pointer;
          margin-left: 5px;
          pointer-events: initial;
          * {
            pointer-events: none;
          }
        }
        .websy-table-sort-icon {
          display: flex;
          margin-left: 5px;
          align-items: center;
          &.asc {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .websy-table-footer {
    // background-color: #eeeeee;
  }
  .websy-table-body {
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &.with-virtual-scroll {
    overflow: hidden;
    overflow-x: hidden;
    .websy-table-body {
      overflow: hidden;
    }
  }
  .websy-table-row {
    border-bottom: 1px solid #eeeeee;
    &:last-of-type {
      border-bottom: none;
    }
    .websy-table-cell {
      // display: inline-block;
      padding: 5px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px;
        margin: -5px;
        box-sizing: border-box;
      }
      border-right: 1px solid #eeeeee;
      &:last-of-type {
        border-right: none;
      }
      &:not( [ rowspan = '1' ] ) {
        vertical-align: top;
      }
      .websy-table-cell-expand, .websy-table-cell-collapse {
        pointer-events: initial;
        * {
          pointer-events: none;
        }
        svg {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}

.websy-table-touch-scroller {
  &.hidden {
    display: none;
  }
  // background-color: rgba(255, 0, 0, .4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
