.websy-vis-table-3 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffaa00;
  table {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    width: 100%;
    tbody {
      // display: block;
    }
  }
  .websy-v-scroll-container {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
    background-color: #ff0000;
  }
  .websy-scroll-handle {
    background-color: #00aa00;
    position: absolute;
  }
  .websy-scroll-handle-y {
    width: 100%;
  }
  .websy-table-inner-container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .websy-table-header {
    background-color: #ff00aa;
  }
  .websy-table-footer {
    background-color: #fafafa;
  }
  .websy-table-body {
    background-color: #00aaff;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &.with-virtual-scroll {
    .websy-table-body {
      overflow: hidden;
    }
  }
  .websy-table-row {
    .websy-table-cell {
      // display: inline-block;
      padding: 5px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
