.websy-info {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  position: relative;
  z-index: 100;
  svg {
    fill: @dark-grey;
  }
  &:before {
    position: absolute;
    top: auto;
    bottom: ~'calc(100% + 8px)';
    right: ~'calc(50% - 5px)';
    transform: rotate(45deg);
    background-color: transparent;
    color: transparent;
    width: 10px;
    height: 10px;
    z-index: 12;
  }
  &:after {
    position: absolute;
    background-color: transparent;
    color: transparent;
    padding: 10px 15px;
    left: ~'calc(50% - 115px)';
    top: auto;
    width: 200px;
    bottom: ~'calc(100% + 12px)';
    border-radius: 2px;
    z-index: 11;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    box-shadow: 0 0 3px @white;
  }
  &.websy-info-dock-left {
    &:before {
      bottom: unset;
      left: unset;
      top: ~'calc(50% - 7px)';
      right: 25px;
    }
    &:after {
      bottom: unset;
      left: unset;
      right: 30px;
      top: ~'calc(50% - 20px)';
    }
  }
  &.websy-info-dock-right {
    &:before {
      bottom: unset;
      right: unset;
      top: ~'calc(50% - 7px)';
      left: 25px;
    }
    &:after {
      bottom: unset;
      right: unset;
      left: 30px;
      top: ~'calc(50% - 20px)';
    }
  }
  &.websy-info-dock-bottom {
    &:before {
      bottom: unset;
      top: ~'calc(100% + 8px)';
    }
    &:after {
      bottom: unset;
      top: ~'calc(100% + 12px)';
    }
  }
  &:hover {
    &:after {
      background-color: @dark-grey;
      color: @white;
      content: attr(data-info);
    }
    &:before {
      background-color: @dark-grey;
      color: @white;
      content: '';
    }
  }
}

.websy-delayed-info {
  overflow: visible!important;
  position: relative;
  &:after {
    background-color: @white;
    color: @text;
    content: attr(data-info);
    left: 0;
    top: 0;
    width: auto;
    position: absolute;
    padding: inherit;
    z-index: 1;
    box-shadow: 0 0 3px @light-grey;
  }
}
