@charset "UTF-8";

@font-face {
  font-family: 'websy-designs';
  src: url('../fonts/websy-designs.ttf?83517479') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'websy-designs';
    src: url('../font/websy-designs.svg?2847973#websy-designs') format('svg');
  }
}
*/

[ class ^= 'websy-icon-' ]:before, [ class *= ' websy-icon-' ]:before {
  font-family: 'websy-designs', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.websy-icon-cancel:before {
  content: '\e800';
} /* '' */
.websy-icon-ok:before {
  content: '\e801';
} /* '' */
.websy-icon-plus:before {
  content: '\e802';
} /* '' */
.websy-icon-minus:before {
  content: '\e803';
} /* '' */
.websy-icon-camera:before {
  content: '\e804';
} /* '' */
.websy-icon-heart:before {
  content: '\e805';
} /* '' */
.websy-icon-heart-empty:before {
  content: '\e806';
} /* '' */
.websy-icon-th-large:before {
  content: '\e807';
} /* '' */
.websy-icon-th-list:before {
  content: '\e808';
} /* '' */
.websy-icon-truck:before {
  content: '\e809';
} /* '' */
.websy-icon-search:before {
  content: '\e80a';
} /* '' */
.websy-icon-basket:before {
  content: '\e80b';
} /* '' */
.websy-icon-credit-card:before {
  content: '\e80c';
} /* '' */
.websy-icon-gift:before {
  content: '\e80d';
} /* '' */
.websy-icon-cog:before {
  content: '\e80e';
} /* '' */
.websy-icon-calendar:before {
  content: '\e80f';
} /* '' */
.websy-icon-down-dir:before {
  content: '\e810';
} /* '' */
.websy-icon-up-dir:before {
  content: '\e811';
} /* '' */
.websy-icon-left-dir:before {
  content: '\e812';
} /* '' */
.websy-icon-right-dir:before {
  content: '\e813';
} /* '' */
.websy-icon-arrows-cw:before {
  content: '\e814';
} /* '' */
.websy-icon-check:before {
  content: '\e815';
} /* '' */
.websy-icon-barcode:before {
  content: '\e816';
} /* '' */
.websy-icon-trash:before {
  content: '\e817';
} /* '' */
.websy-icon-ccw:before {
  content: '\e818';
} /* '' */
.websy-icon-pencil:before {
  content: '\e819';
} /* '' */
.websy-icon-box:before {
  content: '\e81a';
} /* '' */
.websy-icon-check-empty:before {
  content: '\f096';
} /* '' */
.websy-icon-filter:before {
  content: '\f0b0';
} /* '' */
.websy-icon-mail-alt:before {
  content: '\f0e0';
} /* '' */
.websy-icon-building:before {
  content: '\f0f7';
} /* '' */
.websy-icon-folder-open-empty:before {
  content: '\f115';
} /* '' */
.websy-icon-help:before {
  content: '\f128';
} /* '' */
.websy-icon-info:before {
  content: '\f129';
} /* '' */
.websy-icon-ellipsis-vert:before {
  content: '\f142';
} /* '' */
.websy-icon-sliders:before {
  content: '\f1de';
} /* '' */
.websy-icon-share:before {
  content: '\f1e0';
} /* '' */
.websy-icon-trash-1:before {
  content: '\f1f8';
} /* '' */
.websy-icon-toggle-off:before {
  content: '\f204';
} /* '' */
.websy-icon-toggle-on:before {
  content: '\f205';
} /* '' */
.websy-icon-shopping-basket:before {
  content: '\f291';
} /* '' */
.websy-icon-user-circle-o:before {
  content: '\f2be';
} /* '' */
