.websy-slider {
  width: 60%;
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 30vw;
  height: 1vh;
  background-color: rgb(108, 172, 232);
}
.progress-handle {
  width: 11px;
  height: 11px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
}
