.slider-container {
  width: 400px;
  display: block;
  // flex-direction: column;
}
.progress-bar {
  width: 30vw;
  height: 2vh;
  background-color: rgb(108, 172, 232);
  position: relative;
  border-radius: 10px;
}
.singleHandle {
  width: 17px;
  height: 17px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  position: absolute;
  top: 5.5%;
  right: 97.4%;
}
.secondHandle {
  width: 17px;
  height: 17px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  position: absolute;
  top: 5.7%;
  right: 80%;
}
