.slider-container {
  width: 100%;
  height: 60px;
  display: block;
  position: relative;
  &.vertical {
    height: 100%;
    width: 60px;
  }
}
.progress-container {
  position: absolute;
  width: ~'calc(100% - 80px)';
  height: 20px;
  top: 20px;
  background-color: rgb(5, 99, 99);
  left: 40px;
}
.progress-bar, .progress-background {
  height: 100%;
}
.progress-background {
  background-color: #ffffff;
  border: .5px solid rgb(0, 0, 0);
}
.progress-bar {
  background-color: #5191df;
  position: absolute;
  left: 0;
  top: 0;
}
.handle {
  position: absolute;
  background-color: rgb(41, 41, 41);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: ~'calc(50% - 12px)';
}
.secondHandle {
  // width: 17px;
  // height: 17px;
  // background-color: rgb(0, 0, 0);
  // border-radius: 25px;
  // position: absolute;
  // top: 5.7%;
  // right: 80%;
}
.current-value {
  display: none;
  &.active {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    background-color: rgb(130, 170, 204);
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }
}
.values-group {
  display: flex;
  justify-content: space-between;
}
.vertical {
  .progress-container {
    left: 20px;
    top: 40px;
    height: ~'calc(100% - 80px)';
    width: 20px;
  }
  .progress-bar, .progress-background {
    width: 100%;
  }
  .progress-bar {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .handle {
    top: -12px;
    left: ~'calc(50% - 12px)';
  }
}
